:root{
    --dark-blue: #137db7;
    --light-blue: #00fff3;
    --blue-hover: #1899de;
    --fade-blue: #137db77d;
    --black: #252930;
    --grey: #d1d0d0;
    --dark-grey: #5d6778;
    --white: #fff;
    --text-grey: #828d9f;
    --light-grey: #f5f6fe;
    --orange: #faa732;
    --red: #da4f49;
    --blue: #5472d2;
    --dark-purple: #8d6dc4;
    --light-purple: #7c69ef;
    --purple: #506690;
    --yellow: #fac534;
    --pink: #df4759;
    --green:#2EB6FF;
    --font-size-text: 17px;
    --font-size-head: 30px;
    --font-size-head-2: 20px;
    --font-size-icon-rate: 25px;
    --font-size-detail: 18px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: var(--dark-blue);
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
}
/*header*/
.header{
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 74px;
    z-index: 1000;
}
.site-tagline{
    font-size: var(--font-size-head-2);
    font-weight: 400;
}
.show-menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 1px 1px 10px var(--grey);
}
.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.nav-tabs{
    border: none;
}
.nav{
    align-items: center;
}
.navbar-collapse{
    justify-content: end;
}
.menu .navbar-collapse .navbar-nav .nav-link{
    text-decoration: none;
    padding: 15px 20px;
    border: none;
    color: var(--dark-grey);
    font-weight: 700;
    font-size: 16px;
}
    .navbar-light .navbar-nav .nav-link.active, .menu .navbar-collapse .navbar-nav .nav-link:hover{
        color: var(--black);
        border-bottom: 2px solid var(--black);
    }
.logo{
    width: 180px;
}
.logo a{
    display: block;
    padding-bottom: 29%;
    position: relative;
    overflow: hidden;
    margin: 0;
}
.logo img{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}
/*content*/
/*slide*/
.hero-section{
    background-color: var(--white);
    padding-top: 80px;
}
.content{
    position: relative;
    background-color: var(--light-grey);
    scroll-behavior: smooth;
}
.img-pro{
    position: relative;
    display: block;
    padding-bottom: 43%;
    overflow: hidden;
    width: 100%;
    height: 0;
    margin-bottom: 0px;
    transition: all .35s;
}
.img-pro img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;  
}
.font-weight-bold {
    font-weight: 700 !important
}
/*Về chúng tôi*/
.about-text{
    font-size: var(--font-size-text);
    font-weight: 400;
    color: var(--dark-grey);
    line-height: 1.5;
}
.about-text p{
    margin-bottom: 10px;
}
.item-se .img-pro{
    padding-bottom: 80%;
}
.item-title h3{
    font-size: var(--font-size-head-2);
    font-weight: 600;
    margin-bottom: 8px;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item a{
    text-decoration: none;
    width: 100%;
    font-weight: 700;
}
/*Dịch vụ*/
.service{
    background-color: var(--light-grey);
    display: flex;
    justify-content: center;
    padding-top: 80px;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 60px;
}
.service-item{
    margin-bottom: 16px;
    padding: 10px;
    border-radius: 5px;
    transition: all .5s;
}
.service-item a{
    text-decoration: none;
    color: var(--black);
}
.rounded{
    transition: all .5s;
}
.service-item:hover .item-title h3,.benefits-section .rounded:hover h3{
    color: var(--dark-blue);
}
.service-item:hover,.benefits-section .rounded:hover{
    transform: translateY(-10px);
    box-shadow: 5px 5px 10px var(--fade-blue);
}
/*Dự án*/
.work, .team, .partner,.work-content{
    padding-top: 80px;
    background-color: var(--white);
}
.text-center .img-pro{
    padding-bottom: 56%;
}
.item-inner h5{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-inner .detail-w{
    min-height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    font-size: 15px;
}
/*team*/
.team .owl-carousel .owl-stage-outer{
    padding-bottom: 20px;
}
.team-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 10px 20px 10px;
    z-index: 2;
}
.team-item:hover .team-name{
    bottom: 50px;
}
.team-item:hover .team-level{
    opacity: 1;
    bottom: 20px;
    
}
.team-item:hover .team-img{
    overflow: hidden;
    transform: scale(1.1);
}
.team-level{
    position: absolute;
    width: 100%;
    bottom: 0px;
    font-size: var(--font-size-text);
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    opacity: 0;
    transition: all ease 1s;
}
.team-name{
    position: absolute;
    width: 100%;
    bottom: 0px;
    transition: all ease .5s;
}
.team-name h3{
    font-size: var(--font-size-head-2);
    margin-bottom: 20px;
    color: var(--white);
}
.team-bottom p{
    margin-bottom: 0;
    font-weight: 400;
    color: var(--white);
}
.team-item{ 
    position: relative;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    border: 1px solid #f5f6fe;
    overflow: hidden;
}
.team-item:hover::before{
    display: block;
}
.team-item::before{
    content: "";
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition: all ease .5s;
}
.team-img{
    transform: scale(1);
    transition: all ease .5s;
}
.team-img .img-pro{
    padding-bottom: 100%;
}
.skill{
    margin-bottom: 8px;
}
.skill div{
    margin-right: 10px;
    padding: 3px 10px;
    background-color: white;
    border-radius: 15px;
}
.skill div:last-child{
    margin: 0;
}
/*footer - liên hệ*/

.footer-top{
    background-color: var(--white);
    padding-top: 80px;
    height: 500px;
}
.contact-work{
    background-color: var(--white);
    border: 1px solid var(--dark-blue);
    border-radius: 15px;
    padding: 30px;
    transform: translateY(0%);
}
.contact-img{
    width: 200px;
    margin-bottom: 20px;
}
.contact-img .img-pro{
    padding-bottom: 100%;
}
.contact-group{
    width: 100%;
}
.cw-title .line hr{
    width: 100%;
}
.form-floating input, .form-floating textarea{
    width: 100%;
    padding: 15px 0;
    border: unset;
    border-bottom: 2px solid var(--grey);
    margin-bottom: 20px;
}
.form-floating>.form-control:focus{
    border-bottom: 2px solid var(--dark-blue);
}
.form-floating input:focus-visible{
    border: unset;
    outline: none;
}
.form-control:focus{
    border: unset;
    box-shadow: unset;
    outline: none;
}
.btn-group{
    width: 100%;
}
.btn{
    padding: 15px 20px;
}
.btn-primary{
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
}
.btn-primary:hover{
    background-color: var(--blue-hover);
    border-color: var(--blue-hover);
}
.footer-bottom{
    padding-top: 400px;
    width: 100%;
    background-color: var(--dark-blue);
    /* background-image: linear-gradient(var(--white),var(--black)); */
    padding-bottom: 80px;
}
.btn a{
    text-decoration: none;
    color: var(--white);
    font-size: var(--font-size-text);
    font-weight: 500;

}
/*about us*/
.about-us{
    padding: 80px 0 140px 0;
    background-color: var(--white);
}
.about-content{
    position: relative;
    
}
.about-img{
    position: absolute;
    left: 0;
    bottom: -15%;
    width: 45%;
    z-index: 5;
}
.about-img .img-pro{
    padding-bottom:80%;
    filter: drop-shadow(2.04778px 4.09556px 32.7645px rgba(0,0,0,.15));
}
.about-txt{
    width: 70%;
    border-left: 8px solid #2EB6FF;
    border-right: 8px solid #137db7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 0 100% ;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 8px;
    -moz-background-size: 100% 8px;
    background-size: 100% 8px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(left, #2EB6FF 0%, #137db7 100%), -webkit-linear-gradient(left, #2EB6FF 0%, #137db7 100%);
    background-image: -moz-linear-gradient(left, #2EB6FF 0%, #137db7 100%), -moz-linear-gradient(left, #2EB6FF 0%, #137db7 100%);
    background-image: -o-linear-gradient(left, #2EB6FF 0%, #137db7 100%), -o-linear-gradient(left, #2EB6FF 0%, #137db7 100%);
    background-image: linear-gradient(to right, #2EB6FF 0%, #137db7 100%), linear-gradient(to right, #2EB6FF 0%, #137db7 100%);
}
.owl-about .about-text{
    padding: 20px 100px 50px 200px;
    text-align: left;
    line-height: 1.5;
    word-spacing: 3px;
}
.border-decoration{
    bottom: 0;
    position: absolute;
    right: 3rem;
    z-index: 20;
}
.about-text .img-pro{
    width: 100%;
    padding-bottom: 44%;
}
.about-text .img-pro img{
    object-fit: contain;
}
.about-text div{
    width: 100%;
    padding-top: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}
.border-decoration:after, .border-decoration:before{
    border-left: 3rem solid transparent;
    content: "";
    height: 0;
    position: absolute;
    width: 0;
}
.border-decoration:before{
    border-top: 3rem solid var(--dark-blue);
}
.border-decoration:after{
    border-top: 3rem solid var(--white);
    left: -0.5rem;
    top: -1.25rem;
}
.about-txt .owl-about .owl-nav.disabled+.owl-dots{
    position: absolute;
    bottom: -10%;
    right: 10%;
    font-size: var(--font-size-detail);
}
.about-txt .owl-about .owl-dots .owl-dot span,.team .owl-team .owl-dots .owl-dot span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    border: 2px solid var(--dark-blue);
    background-color: var(--grey);
}
/*footer*/
.logo-footer{
    overflow: hidden;
    margin-bottom: 20px;
    width: 200px;

}
.logo-footer .img-pro{
    padding-bottom: 31.2%;
}
.address{
    color: var(--white);

}
.address h3{
    font-size: var(--font-size-head-2);
    font-weight: 700;
    color: var(--white);
}
.address span{
    margin-bottom: 10px;
    font-size: var(--font-size-text);
    font-weight: 500;

}
.address span i{
    margin-right: 10px;
}
.address span p{
    margin-bottom: 0;
}
.address span a{
    text-decoration: none;
    color: var(--white);
    transition: all .5s ease-in;
}
.address span a:hover{
    color: var(--white);
    filter: drop-shadow(0 0 1px #d6d6d6) drop-shadow(0 0 3px #d6d6d6);
}
.address span a i{
    font-size: var(--font-size-text);
}
.space{
    margin-top: 82.4px;
}
/*back to top*/
.back-to-top{
    position: fixed;
    display: none;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    z-index: 100;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
}
.back-to-top a{
    color: var(--white);
}
/*detail-project*/
.wc-title h3{
    font-size: 16px;
    color: var(--dark-grey);
    margin-bottom: 0;
}
.wc-title i{
    color: var(--dark-grey);
    margin-right: 8px;
}
.content-t{
    margin: 50px 0 30px;
}
.wc-title{
    width: 120px;
    text-decoration: none;
    transform: translateX(0px);
    transition: all ease .5s;
}
.wc-title:hover{
    transform: translateX(-20px);
}
.wc-title:hover h3, .wc-title:hover i{
    color: var(--dark-blue);
}
.wc-list{
    padding: 15px 30px ;
}
.detail-post .img-pro{
    margin-bottom: 20px;
}
.content-title h3{
    margin-bottom: 20px;
    font-size: var(--font-size-head);
}
.related-post{
    color: var(--black);
    margin-bottom: 20px;
    font-size: var(--font-size-icon-rate);
}
.detail-time{
    margin-bottom: 15px;
    color: var(--text-grey);
    font-weight: 500;
    font-size: 16px;
}